<header>
<p><h2 class="username">Username Followers</h2></p>

<nav class="nav">
	<ul>
		<li><a href="#">Followers</a></li>
		<li><a href="#">Followees</a></li>
		<li><a href="#">Profile</a></li>
	</ul>
</nav>

</header>

<section class="mytweets">
<article class="grey">
<p class="grey">Followers</p>
<% array = Array.new(10, "Follower") %> <% array.each do |x| %>
<p class="grey"><%= x %></p>
<% end %>
</article>
</section>