


<header>
<p><h2 class="username">Username Followers</h2></p>

<nav class="nav">
	<ul>
		<li><a href="#">Followers</a></li>
		<li><a href="#">Followees</a></li>
		<li><a href="/users/<%=@user.id%>">Profile</a></li>
		<li><a href="/" name="_method" value="post">Logout</li>
	</ul>
</nav>

</header>

<section class="mytweets">
<article class="grey">
<p class="grey">Followers</p>
<% @followers.each do |follower| %>
	<p><a href="/users/#{@user.id}"><%= follower.username %></a></p>
	<p><%= follower.email %></p>
	<p><%= follower.bio %></p>
<% end %>


</article>
</section>
