<header>
<div class=tweet_box>
<p><h2 class="username">Username Followees</h2></p>

<nav class="nav">
	<ul>
		<li><a href="/user/<%=@user.id%>">Profile</a></li>
		<li><a href="/user/<%=@user.id%>/followees">Followees</a></li>
		<li><a href="/user/index">All Users</a></li>
	</ul>
</nav>

</header>
<section class="mytweets">
<article class="grey">
<p class="grey">Followees</p>
<% array = Array.new(10, "Followee") %>
<% array.each do |x| %>
<p class="grey"><%= x %></p>
<% end %>
</article>
</section>
</div>