<!-- Logo and banner -->
<header>
<div class=tweet_box>
<p><h2 class="username">All User List</h2></p>
<p><h5 class="username">Pick at your peril, whomever you follow can never be unfollowed.</h5></p>

<!-- <nav class="navy"><a href="#">Followers</a> <a href="#">Followees</a> <a href="#">All Users</a></nav> -->

<nav class="nav">
	<ul>
		<li><a href="#">Followers</a></li>
		<li><a href="#">Followees</a></li>
		<li><a href="#">Profile</a></li>
		<li><a href="/" name="_method" value="post">Logout</li>
	</ul>
</nav>

</header>

<section class="mytweets">
<article class="grey">
<p class="grey">Users</p>
<% User.all.each do |each| %>

<%= each.username %>
<% end %>

</article>
</section>
</div>