<!-- Logo and banner -->
<header>
<p><h2 class="username">All User List</h2></p>
<p><h5 class="username">Pick at your peril, whomever you follow can never be unfollowed.</h5></p>

<nav class="navy"><a href="#">Followers</a> <a href="#">Followees</a> <a href="#">All Users</a></nav>

</header>

<section class="mytweets">
<article class="grey">
<p class="grey">Users</p>
<% array = Array.new(10, "User") %> <% array.each do |x| %>
<p class="grey"><%= x %></p>
<% end %>
</article>
</section>