<!-- Logo and banner -->
<h1>Six Guys</h1>
<h2>twitter and fries</h2>

<body>
  <form>
    username:<br>
    <input type="text" name="username">
    <br>
    password:<br>
    <input type="text" name="password">
    <br>
    <input type="submit" value="Log In" />
  </form>
  <br>
  <form action="/new">
    <input type="submit" value="Sign Up">
  </form>
</body>
<!-- use css for buttons and shit -->
