<!-- Logo and banner Logo links back to index -->
<a href="/">Logo back to index</a>
<h1>Sign Up</h1>

<body>
  <h2>Join Six Guys today.</h2>
  <form action='/users/new' method='post'>
    <label>username:</label><br>
    <input type="text" name="username" placeholder="username">
    <br>
    <label>password:</label><br>
    <input type="text" name="password" placeholder="password">
    <br>
    <label>email:</label><br>
    <input type="text" name="email" placeholder="email">
    <br>
    <label>Bio</label>
    <br>
    <textarea rows = "3" cols = "30" placeholder="Your life story"></textarea>
    <br>
    <input type="submit" value="Register" >
  </form>
</body>
