<!-- Logo and banner Logo links back to index -->
<a href="/">Logo back to index</a>


  <h2>Join Six Guys today.</h2>
  <div id=register_form>
  <form action='/users/new' method='post'>
    <h2>Join Six Guys today.</h2>
    <label>username:</label><br>
    <input type="text" name="username" placeholder="username">
    <br>
    <label>password:</label><br>
    <input type="text" name="password" placeholder="password">
    <br>
    <label>email:</label><br>
    <input type="text" name="email" placeholder="email">
    <br>
    <label>Bio</label>
    <br>
    <textarea rows = "10" cols = "35" placeholder="Your life story"></textarea>
    <br>
    <input type="submit" value="Register" >
  </form>
  </div>
